.image-linter-window {
	z-index: 999;
	position: fixed;
	bottom: 0;
	width: 100%;
	visibility: hidden;
	background: white;
}

.image-linter-window .display-image-linter {
	visibility: visible;
}

.image-linter-window iframe {
	background: rgb(255, 255, 255);
	height: 60vh;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-top: 10px solid rgb(56, 56, 56);
}